<h1 style="margin-top: 60px;">Le coin des jeunes</h1>
<p class="textDescription"><strong>OpenCyLife</strong> propose avec le <strong><a href="https://www.garage404.com/" target="blank">Garage 404</a></strong> des formations pour les jeunes pour découvrir le code et démystifier le numérique. <br>Voici nos formules.</p>

<h2>Pendant les vacances sclolaires</h2>
<div class="row flexAllCenter">
    <div class="cardLarge shadow" style="width: 450px; height: auto;">
        <div class="imagesIncardLarge">
            <img class="cardLarge-img" src="../../assets/combat-orange.png">
        </div>
        <div>
            <h4 class="cardLarge-title">Le combat CODE pour les 7 à 12 ans</h4>
            <h5 class="cardLarge-p">Ateliers pour les mécanos du web</h5>
            <p class="cardLarge-p">Initiation ludique au monde de l’informatique par l’apprentissage des fondamentaux de la programmation</p>
            <p class="cardLarge-p"><strong>Qui ? </strong>Tout enfant de 7 à 12 ans</p>
            <p class="cardLarge-p"><strong>Quand ? </strong>Pendant les vacances scolaires</p>
            <p class="cardLarge-p"><strong>Comment ? </strong>Une semaine d’ateliers de 3 heures par jour, maximum 14 participants par session.</p>
            <button class="boutonCardOrange">
                <a href="https://www.garage404.com/code-combat/" target="blank">EN SAVOIR PLUS</a>
            </button>


        </div>
    </div>

    <div class="cardLarge shadow" style="width: 450px; height: auto;">
        <div class="imagesIncardLarge">
            <img class="cardLarge-img" src="../../assets/custom-green.png">
        </div>
        <div>
            <h4 class="cardLarge-title">Le combat CODE pour les 7 à 12 ans</h4>
            <h5 class="cardLarge-p">Ateliers pour les mécanos du web</h5>
            <p class="cardLarge-p">Découverte et pratique des bases de la programmation web et logiciel à l’aide d’outils numériques et physiques</p>
            <p class="cardLarge-p"><strong>Qui ? </strong>Tout enfant de 12 à 16 ans ans</p>
            <p class="cardLarge-p"><strong>Quand ? </strong>Pendant les vacances scolaires</p>
            <p class="cardLarge-p"><strong>Comment ? </strong>Une semaine d’ateliers de 3 heures par jour, maximum 14 participants par session.</p>
            <button class="boutonCardTurquoise">
                <a href="https://www.garage404.com/code-custom/" target="blank">EN SAVOIR PLUS</a>
            </button>


        </div>
    </div>


    <div class="row flexAllCenter">