<div class="fondColor">
    <div class="container">
        <h1>Le coin des jeunes</h1>
        <p class="textDescription mb100"><strong>OpenCyLife</strong> propose avec le <strong><a
                        href="https://www.garage404.com/" target="blank">Garage 404</a></strong> des formations pour les jeunes pour découvrir le code et démystifier le numérique. <br>Voici nos formules.</p>

        <h2 class="mb50">Pendant les vacances sclolaires</h2>
        <p class="textDescription"><strong>OpenCyLife</strong> propose avec le <strong><a href="https://www.garage404.com/"
                        target="blank">Garage 404</a></strong> des formations de 3h par jour pendant une semaine.<br>Ce sont les vacances numériques apprenantes ;)
        </p>
    </div>
</div>


<div class="container row flexAllCenter mb100">
    <div class="cardLarge shadow" style="width: 450px; height: auto;">
        <div class="imagesIncardLarge">
            <img class="cardLarge-img" src="../../assets/combat-orange.png">
        </div>
        <div>
            <h4 class="cardLarge-title">Le combat CODE pour les 7 à 12 ans</h4>
            <h5 class="cardLarge-p">Ateliers pour les mécanos du web</h5>
            <p class="cardLarge-p">Initiation ludique au monde de l’informatique par l’apprentissage des fondamentaux de la programmation</p>
            <p class="cardLarge-p"><strong>Qui ? </strong>Tout enfant de 7 à 12 ans</p>
            <p class="cardLarge-p"><strong>Quand ? </strong>Pendant les vacances scolaires</p>
            <p class="cardLarge-p"><strong>Comment ? </strong>Une semaine d’ateliers de 3 heures par jour, maximum 14 participants par session.</p>
            <button class="boutonCardOrange">
                        <a href="https://www.garage404.com/code-combat/" target="blank">EN SAVOIR PLUS</a>
                    </button>


        </div>
    </div>

    <div class="cardLarge shadow" style="width: 450px; height: auto;">
        <div class="imagesIncardLarge">
            <img class="cardLarge-img" src="../../assets/custom-green.png">
        </div>
        <div>
            <h4 class="cardLarge-title">Le combat CODE pour les 7 à 12 ans</h4>
            <h5 class="cardLarge-p">Ateliers pour les mécanos du web</h5>
            <p class="cardLarge-p">Découverte et pratique des bases de la programmation web et logiciel à l’aide d’outils numériques et physiques</p>
            <p class="cardLarge-p"><strong>Qui ? </strong>Tout enfant de 12 à 16 ans ans</p>
            <p class="cardLarge-p"><strong>Quand ? </strong>Pendant les vacances scolaires</p>
            <p class="cardLarge-p"><strong>Comment ? </strong>Une semaine d’ateliers de 3 heures par jour, maximum 14 participants par session.</p>
            <button class="boutonCardTurquoise">
                        <a href="https://www.garage404.com/code-custom/" target="blank">EN SAVOIR PLUS</a>
                    </button>


        </div>
    </div>
</div>


<div class="fondColor">
    <div class="container">
        <h2 class="mb50">Pendant les cours en classe</h2>
        <p class="textDescription mb50"><strong>OpenCyLife</strong> propose des ateliers et des conférences en école.<br>Voici nos formules dès le collège.</p>

    </div>
</div>

<div class="container row flexAllCenter mb100">
    <div class="cardLarge shadow" style="width: 450px; height: auto;">
        <div class="imagesIncardLarge">
            <img class="cardLarge-img" src="../../assets/ecology.svg">
        </div>
        <div>
            <h4 class="cardLarge-title">Prise de conscience sur les enjeux du numérique</h4>
            <h5 style="  margin-left: 20px;margin-right: 20px;">( Conférence de sensibilisation dès le collège) </h5>
            <p class="cardLarge-p">Découvrez en 1 à 3 heures des impacts du numérique, voyez quels sont les principaux leviers sur lesquels agir facilement</p>

        </div>
    </div>

    <div class="cardLarge shadow" style="width: 450px; height: auto;">
        <div class="imagesIncardLarge">
            <img class="cardLarge-img" src="../../assets/logo-FDN.png">
        </div>
        <div>
            <h4 class="cardLarge-title">La fresque du numérique</h4>
            <h5 style="  margin-left: 20px;margin-right: 20px;">( Atelier de 6 élèves, dès le collège) </h5>
            <p class="cardLarge-p">La Fresque du Numérique est un atelier ludique et collaboratif de 3 heures avec une pédagogie similaire à celle de La Fresque du Climat. Le but de l'atelier est de sensibiliser et former les participants aux enjeux de l'écologie dans l'univers
                du numérique. L'atelier vise aussi à expliquer les grandes lignes des solutions pour un numérique durable, puis à ouvrir des discussions entre les participants sur le sujet.</p>
            <button class="boutonCardRed">
                        <a href="https://www.fresquedunumerique.org/" target="blank">EN SAVOIR PLUS</a>
                    </button>
        </div>
    </div>
</div>

<div class="fondColor">
    <div class="container">
        <h1 style="margin-top: 60px;">Le coin des Profs</h1>
        <p class="textDescription mb100"><strong>OpenCyLife</strong> propose des formations et des ateliers pour les enseignants pour découvrir et comprendre les enjeux environnementaux du numérique. <br>Voici nos formules.</p>
    </div>
</div>
<div class="row flexAllCenter mb100 container">
    <div class="cardLarge shadow" style="width: 450px; height: auto;">
        <div class="imagesIncardLarge">
            <img class="cardLarge-img" src="../../assets/ecology.svg">
        </div>
        <div>
            <h4 class="cardLarge-title">Prise de conscience sur les enjeux du numérique</h4>
            <h5 style="  margin-left: 20px;margin-right: 20px;">( Conférence de sensibilisation pour les enseignants)
            </h5>
            <p class="cardLarge-p">Découvrez en 3 heures les impacts du numérique, voyez quels sont les principaux leviers sur lesquels agir facilement</p>
        </div>
    </div>
    <div class="cardLarge shadow" style="width: 450px; height: auto;">
        <div class="imagesIncardLarge">
            <img class="cardLarge-img" src="../../assets/logo-FDN.png">
        </div>
        <div>
            <h4 class="cardLarge-title">La fresque du numérique</h4>
            <h5 style="  margin-left: 20px;margin-right: 20px;">( Atelier de 6 enseignants) </h5>
            <p class="cardLarge-p">La Fresque du Numérique est un atelier ludique et collaboratif de 3 heures avec une pédagogie similaire à celle de La Fresque du Climat. Le but de l'atelier est de sensibiliser et former les participants aux enjeux de l'écologie dans l'univers
                du numérique. L'atelier vise aussi à expliquer les grandes lignes des solutions pour un numérique durable, puis à ouvrir des discussions entre les participants sur le sujet.</p>
            <button class="boutonCardRed">
                        <a href="https://www.fresquedunumerique.org/" target="blank">EN SAVOIR PLUS</a>
                    </button>
        </div>
    </div>
</div>