<div class="Header">
    <div id="pageTitle">
        <a routerLink="/accueil">
            <img src="../../assets/opencylife.png" id="logoOpen" />
        </a>
        <p>Centre de Formation pour le numérique responsable</p>
    </div>

    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-btn">
            <label for="nav-check">
                <span><img src="../../assets/burger.svg" alt="menu"></span>
            </label>
        </div>
        <div class="nav-links">
            <a routerLink="/accueil">OpenCyLife Formation</a>
            <a routerLink="/equipe">L'équique</a>
            <a routerLink="/centre_de_formation">Le centre de fromation</a>
            <a routerLink="/formations">Les formations</a>
            <a href="https://www.open-cy.life/" target="blank">OpenCyLife <em>L'Asso</em> </a>
        </div>
    </div>
</div>