<div class="container row">
    <div class="contact col-3">
        <h4>OpenCyLife Formation</h4>
        <p>06.98.20.87.07</p>
        <p>06.24.77.91.15</p>
        <p>sur rendez vous le lundi</p>
        <p>à <strong>Tùba</strong> , 145 Crs Lafayette</p>
        <p>69003 Lyon</p>
    </div>
    <div class="heightCenter col-1">
        <a href="mailto:contact@open-cy.life"><img src="../../assets/arroba.svg" alt=""></a>
    </div>
    <div class="col-4"></div>
    <div class="heightCenter column greenweb col-2">
        <img src="../../assets/logo_datadock.png" style="margin-bottom:10px;">
        <img src="../../assets/foundation.png" />
    </div>


</div>