<div class="container flexAllCenter row logosFooter">
    <div class="contact">
        <h4>OpenCyLife Formation</h4>
        <p>06.98.20.87.07</p>
        <p>06.24.77.91.15</p>
    </div>
    <div class="contact">
        <p>sur rendez vous le lundi</p>
        <p>à <strong>Tùba</strong> , 145 Crs Lafayette</p>
        <p>69003 Lyon</p>
    </div>
    <div class="heightCenter">
        <a href="mailto:contact@open-cy.life"><img src="../../assets/arroba.svg" alt=""></a>
    </div>



</div>
<div class="container row flexAllCenter logosFooter">
    <img class="dataDock" src="../../assets/logo_datadock.png">
    <img src="../../assets/foundation.png">
    <div class="ecoConcept">
        <img src="../../assets/recycle.svg">
        <p>site éco-conçu</p>
    </div>
</div>