<H1 style="margin-top: 60px;">
    Nos formateurs
</H1>
<p class="textDescription">
    L'équipe des Frédéric est à l'origine de l'aventure <strong> OpenCyLife Formation </strong>.
</p>
<p class="textDescription">
    Toutes les formations ont été intégralement créées à 4 mains pour s'approcher au plus près du besoin des stagiaires et pour pouvoir être facilement adaptées.
</p>
<div class="row flexAllCenter">
    <div class="cardLarge shadow" style="width: 450px;">
        <div class="imagesIncardLarge">
            <img class="cardLarge-img" src="../../assets/FB.webp">
        </div>
        <div>
            <h4 class="cardLarge-title">Frédéric Bernard</h4>
            <p class="cardLarge-p">Je suis formateur depuis dix ans en </p><br>
        </div>
    </div>


    <div class="cardLarge shadow" style="width: 450px;">
        <div class="imagesIncardLarge">
            <img class="cardLarge-img" src="../../assets/FL.webp">
        </div>
        <div>
            <h4 class="cardLarge-title">Frédéric Lacrabere</h4>
            <p class="cardLarge-p">Issu de différents horizons je m'appuie sur des années d'éclogie dans différentes associations et des études en éthique et en développement durable.
            </p>
            <p class="cardLarge-p">J’ai découvert le monde de l’éco conception web il y a quelques temps lors d’une formation de développeur web.</p>
            <p class="cardLarge-p">J’ai intégré l’association en m’occupant principalement de créer des contenus éco-conçus et de recherche sur les impacts du numérique pour les partager avec notre communauté.</p>
        </div>
    </div>
</div>