<h1 style="margin-top: 60px;">Les formations</h1>
<p class="textDescription"><strong>OpenCyLife</strong> propose des formations de un à trois jours pour entreprises, écoles, incubateurs et autres publics. <br>Voici nos formules principales.</p>
<div class="row flexAllCenter">

    <!-- ecoconception 3j -->
    <label for="modal1">
<div class="cardLarge shadow" style="width: 450px; height: 450px;">
    <div class="imagesIncardLarge">
        <img class="cardLarge-img" src="../../assets/recycle2.svg">
    </div>
    <div>
        <h4 class="cardLarge-title">L’éco-conception de @ à Z</h4>
        <p class="cardLarge-p">En trois jours, faites le tour complet de l'éco-conception et des impacts du numérique</p><br>
    </div>
</div>
</label>
    <input class="modal-state" id="modal1" type="checkbox" />
    <div class="modal">
        <label class="modal__bg" for="modal1"></label>
        <div class="modal__inner shadow">
            <div class="row">
                <img src="../../assets/recycle2.svg" />
                <h2>L’éco-conception de @ à Z</h2>
            </div>
            <p>Prenez 3 jours pour comprendre le fond du problème et la problématique de cycle de vie. Vous étudierez aussi l’éco-conception d’un produit numérique avec des ateliers pratiques. Enfin, vous apprendrez à vous approprier les concepts pour mieux
                les diffuser autour de vous.</p>
        </div>
    </div>

    <!-- Eco-conception -->
    <label for="modal2">
    <div class="cardLarge shadow" style="width: 450px;height: 450px;">
        <div class="imagesIncardLarge">
            <img class="cardLarge-img" src="../../assets/product.svg">
        </div>
        <div>
            <h4 class="cardLarge-title">L’éco-conception de @ à Z</h4>
            <p class="cardLarge-p">Une journée consacrée à l'éco-conception</p><br>
        </div>
    </div>
    </label>
    <input class="modal-state" id="modal2" type="checkbox" />
    <div class="modal">
        <label class="modal__bg" for="modal2"></label>
        <div class="modal__inner shadow">
            <div class="row">
                <img src="../../assets/product.svg" />
                <h2>L’éco-conception de @ à Z</h2>
            </div>
            <p>De quoi parle t’on quand on parle d’éco- conception de services numérique ? Passez à la pratique. Cette journée sera articulée entre des cours théoriques sur l'écoc-onception d'un projet numérique et une mise en pratique.</p>
        </div>
    </div>



    <!-- Low tech -->
    <label for="modal3">
        <div class="cardLarge shadow" style="width: 450px;height: 450px;">
            <div class="imagesIncardLarge">
                <img class="cardLarge-img" src="../../assets/solar-energy.svg">
            </div>
            <div>
                <h4 class="cardLarge-title">Les Low-techs</h4>
                <p class="cardLarge-p">Quel est le rapport entre les low-techs et nos métiers d’aujourd’hui. Pourquoi faut-il s’en emparer ?</p><br>
            </div>
        </div>
        </label>
    <input class="modal-state" id="modal3" type="checkbox" />
    <div class="modal">
        <label class="modal__bg" for="modal3"></label>
        <div class="modal__inner shadow">
            <div class="row">
                <img src="../../assets/solar-energy.svg" />
                <h2>Les Low-techs</h2>
            </div>
            <p>Emparez vous du concept et de la philosophie des low-techs. En une journée, vous comprendrez les principes d'une low-tech, comment on se l'approprie et comment on apprend à penser diférement ses créations techniques.</p>
        </div>
    </div>

    <!-- Vendre l’écologie numérique -->
    <label for="modal4">
    <div class="cardLarge shadow" style="width: 450px;height: 450px;">
        <div class="imagesIncardLarge">
            <img class="cardLarge-img" src="../../assets/philosophy.svg">
        </div>
        <div>
            <h4 class="cardLarge-title">Vendre l’écologie numérique</h4>
            <p class="cardLarge-p">Comment vendre à ses clients des produits plus écologiques en étant sûr de ses idées ?</p><br>
        </div>
    </div>
    </label>
    <input class="modal-state" id="modal4" type="checkbox" />
    <div class="modal">
        <label class="modal__bg" for="modal4"></label>
        <div class="modal__inner shadow">
            <div class="row">
                <img src="../../assets/philosophy.svg" />
                <h2>Vendre l’écologie numérique</h2>
            </div>
            <p>Il ne suffit pas de s'emparer et de comprendre les concepts. Demain, vous aurez besoin de les vendre à vos clients mais surtout en interne. Nous vous proposons de revoir la façon dont vous travaillez et ce n'est pas une chose facile à changer
                en interne. Voyez avec ce module comment on s'approprie la pensée et par quels arguments simples on peut la partager.
            </p>
        </div>
    </div>



</div>
<h1 style="margin-top: 60px;">Les Conférences / ateliers de sensibilisation</h1>
<p class="textDescription"><strong>OpenCyLife</strong> propose des conférences / ateliers de une à trois heures pour tout public. <br>Voici nos interventions.</p>

<div class="row flexAllCenter">

    <!-- L’éco-conception en question -->
    <label for="modal8">
        <div class="cardLarge shadow" style="width: 450px; height: 450px;">
            <div class="imagesIncardLarge">
                <img class="cardLarge-img" src="../../assets/recycle2.svg">
            </div>
            <div>
                <h4 class="cardLarge-title">L’éco-conception en question</h4>
                <p class="cardLarge-p">De quoi parle t'on pour un service numérique ?</p><br>
            </div>
        </div>
        </label>
    <input class="modal-state" id="modal8" type="checkbox" />
    <div class="modal">
        <label class="modal__bg" for="modal8"></label>
        <div class="modal__inner shadow">
            <div class="row">
                <img src="../../assets/recycle2.svg" />
                <h2>L’éco-conception en question</h2>
            </div>
            <p>Sur une base de discussions et de présentations, découvrez la base d’une réflexion éco-conçue pour vos projets numériques. Vous assisterez à une conférence, et deux ateliers pour ramener des bonnes pratiques avec vous.</p>
        </div>
    </div>


    <!-- Prise de conscience sur les enjeux du numérique -->
    <label for="modal5">
<div class="cardLarge shadow" style="width: 450px; height: 450px;">
    <div class="imagesIncardLarge">
        <img class="cardLarge-img" src="../../assets/ecology.svg">
    </div>
    <div>
        <h4 class="cardLarge-title">Prise de conscience sur les enjeux du numérique</h4>
        <p class="cardLarge-p">Découvrez en 1 heure des impacts du numérique, voyez quels sont les principaux leviers sur lesquels agir</p><br>
    </div>
</div>
</label>
    <input class="modal-state" id="modal5" type="checkbox" />
    <div class="modal">
        <label class="modal__bg" for="modal5"></label>
        <div class="modal__inner shadow">
            <div class="row">
                <img src="../../assets/ecology.svg" />
                <h2>Prise de conscience sur les enjeux du numérique</h2>
            </div>
            <p>Abordez en une heure les principaux ipacts du numérique sur l'environnement et apprenez à départager les bonnes pratiques des mauvaises.</p>
        </div>
    </div>

    <!-- L'âge des low-techs -->
    <label for="modal6">
        <div class="cardLarge shadow" style="width: 450px; height: 450px;">
            <div class="imagesIncardLarge">
                <img class="cardLarge-img" src="../../assets/solar-energy.svg">
            </div>
            <div>
                <h4 class="cardLarge-title">L'âge des low-techs</h4>
                <p class="cardLarge-p">Qui sont les low-techs dont on parle tant aujourd'hui ?</p><br>
            </div>
        </div>
        </label>
    <input class="modal-state" id="modal6" type="checkbox" />
    <div class="modal">
        <label class="modal__bg" for="modal6"></label>
        <div class="modal__inner shadow">
            <div class="row">
                <img src="../../assets/solar-energy.svg" />
                <h2>L'âge des low-techs</h2>
            </div>
            <p>Demain sera-t-il low-tech ? De quoi parle t’on vraiment avec cette dénomination ? Préparons nous à l’adaptation aux enjeux de notre société.</p>
        </div>
    </div>

    <!-- Analyse d’un cycle de vie -->
    <label for="modal7">
        <div class="cardLarge shadow" style="width: 450px; height: 450px;">
            <div class="imagesIncardLarge">
                <img class="cardLarge-img" src="../../assets/smartphone.svg">
            </div>
            <div>
                <h4 class="cardLarge-title">Analyse d’un cycle de vie</h4>
                <p class="cardLarge-p">D'où vient et ou va un produit numérique du début à la fin ?</p><br>
            </div>
        </div>
        </label>
    <input class="modal-state" id="modal7" type="checkbox" />
    <div class="modal">
        <label class="modal__bg" for="modal7"></label>
        <div class="modal__inner shadow">
            <div class="row">
                <img src="../../assets/smartphone.svg" />
                <h2>Analyse d’un cycle de vie</h2>
            </div>
            <p>D'où vient et ou va un produit numérique du début à la fin ? Quels sont ses différents impacts tout au long de sa vie ? quel est son point d'équilibre écologique ?</p>
        </div>
    </div>

    <!-- Fresque du numérique -->
    <label for="modal9">
        <div class="cardLarge shadow" style="width: 450px; height: 450px;">
            <div class="imagesIncardLarge">
                <img class="cardLarge-img" src="../../assets/database.svg">
            </div>
            <div>
                <h4 class="cardLarge-title">La fresque du numérique</h4>
                <p class="cardLarge-p">La version numérique de la fresque du climat</p><br>
            </div>
        </div>
        </label>
    <input class="modal-state" id="modal9" type="checkbox" />
    <div class="modal">
        <label class="modal__bg" for="modal9"></label>
        <div class="modal__inner shadow">
            <div class="row">
                <img src="../../assets/database.svg" />
                <h2>La fresque du numérique</h2>
            </div>
            <p>La fresque du climat se décline enfin en version impacts du numérique. Venez participer à notre <a href="https://www.fresquedunumerique.org/" target="blank">atelier de 3 heures</a> environ pour comprendre tous les liens entre numérique et
                écologie.</p>
        </div>
    </div>
</div>

<h1 style="margin-top: 60px;">Mentorat de projets</h1>
<p class="textDescription"><strong>OpenCyLife</strong> propose des suivis de projets en école sur du moyen et long terme</p>

<div class="row flexAllCenter">

    <!-- mentorat 4 semaines -->
    <label for="modal10">
        <div class="cardLarge shadow" style="width: 450px; height: 450px;">
            <div class="imagesIncardLarge">
                <img class="cardLarge-img" src="../../assets/mentorship.svg">
            </div>
            <div>
                <h4 class="cardLarge-title">Projet de 4 semaines</h4>
                <p class="cardLarge-p">Vous avez un projet de moyenne durée et vous souhaitez un suivi responsable ?</p><br>
            </div>
        </div>
        </label>
    <input class="modal-state" id="modal10" type="checkbox" />
    <div class="modal">
        <label class="modal__bg" for="modal10"></label>
        <div class="modal__inner shadow">
            <div class="row">
                <img src="../../assets/mentorship.svg" />
                <h2>Projet de 4 semaines</h2>
            </div>
            <p>Nous accompagnons vos élèves sur la base de 2 jours par semaine dans une réflexion éco-conçue de leur projet numérique. <br> Nous en profitons pour les former aux questions des impacts du numérique et de l'éco-conception de A à Z d'un projet
                numérique.
            </p>
        </div>
    </div>

    <!-- mentorat année -->
    <label for="modal11">
        <div class="cardLarge shadow" style="width: 450px; height: 450px;">
            <div class="imagesIncardLarge">
                <img class="cardLarge-img" src="../../assets/coach.svg">
            </div>
            <div>
                <h4 class="cardLarge-title">Projet à l'année scolaire</h4>
                <p class="cardLarge-p">Vous avez un projet de longue durée et vous souhaitez un suivi responsable ?</p><br>
            </div>
        </div>
        </label>
    <input class="modal-state" id="modal11" type="checkbox" />
    <div class="modal">
        <label class="modal__bg" for="modal11"></label>
        <div class="modal__inner shadow">
            <div class="row">
                <img src="../../assets/coach.svg" />
                <h2>Projet à l'année scolaire</h2>
            </div>
            <p>Nous accompagnons vos élèves sur une base définie avec vous, en présentiel et en distanciel dans une réflexion éco-conçue de leur projet numérique. <br> Nous en profitons pour les former aux questions des impacts du numérique et de l'éco-conception
                de A à Z d'un projet numérique.</p>
        </div>
    </div>



</div>

<h1 style="margin-top: 60px;">Tarifs et organisation</h1>
<p class="textDescription">Pour toutes demandes d'organisation d'une formation, de rendez vous pour une conférence et pour nos tarifs, merci de nous consulter directement.</p>
<p class="textDescription"><a href="../../assets/pdf/plaquette_3h.pdf" target="blank">Téléchargez la plaquette Conférences</a></p>
<p class="textDescription"><a href="../../assets/pdf/plaquette_3j_ecoles.pdf" target="blank">Téléchargez la plaquette Formations en écoles</a></p>
<p class="textDescription"><a href="../../assets/pdf/plaquette_mentorat.pdf" target="blank">Téléchargez la plaquette Mentorat</a></p>