<h1 style="margin-top: 60px;">Les formations</h1>
<p class="textDescription"><strong>OpenCyLife</strong> propose des formations de un à trois jours pour entreprises, écoles, incubateurs et autres publics. <br>Voici nos formules pricipales.</p>
<div class="row">
    <!-- ecoconception 3j -->
    <label for="modal1">
<div class="cardLarge shadow" style="width: 450px;">
    <div class="imagesIncardLarge">
        <img class="cardLarge-img" src="../../assets/recycle2.svg">
    </div>
    <div>
        <h4 class="cardLarge-title">L’éco-conception de @ à Z</h4>
        <p class="cardLarge-p">En trois jours, faites le tour complet de l'éco-conception et des impacts du numérique</p><br>
    </div>
</div>
</label>
    <input class="modal-state" id="modal1" type="checkbox" />
    <div class="modal">
        <label class="modal__bg" for="modal1"></label>
        <div class="modal__inner shadow">
            <div class="row">
                <img src="../../assets/recycle2.svg" />
                <h2>L’éco-conception de @ à Z</h2>
            </div>
            <p>Prenez 3 jours pour comprendre le fond du problème et la problématique de cycle de vie. Vous étudierez aussi l’éco-conception d’un produit numérique avec des ateliers pratiques. Enfin, vous apprendrez à vous approprier les concepts pour mieux
                les diffuser autour de vous.</p>
        </div>
    </div>

    <!-- Eco-conception -->
    <label for="modal2">
    <div class="cardLarge shadow" style="width: 450px;">
        <div class="imagesIncardLarge">
            <img class="cardLarge-img" src="../../assets/recycle2.svg">
        </div>
        <div>
            <h4 class="cardLarge-title">L’éco-conception de @ à Z</h4>
            <p class="cardLarge-p">Une journée consacrée à l'éco-conception</p><br>
        </div>
    </div>
    </label>
    <input class="modal-state" id="modal2" type="checkbox" />
    <div class="modal">
        <label class="modal__bg" for="modal2"></label>
        <div class="modal__inner shadow">
            <div class="row">
                <img src="../../assets/recycle2.svg" />
                <h2>L’éco-conception de @ à Z</h2>
            </div>
            <p>De quoi parle t’on quand on parle d’éco- conception de services numérique ? Passez à la pratique. Cette journée sera articulée entre des cours théoriques sur l'écoc-onception d'un projet numérique et une mise en pratique.</p>
        </div>
    </div>

</div>

<h1 style="margin-top: 60px;">Les Conférences / ateliers de sensibilisation</h1>
<p class="textDescription"><strong>OpenCyLife</strong> propose des conférences / ateliers de une à trois heures pour tout public. <br>Voici nos interventions.</p>