<h1 style="margin-top: 60px;">Le centre de formation</h1>
<p class="textDescription"><strong>OpenCyLife</strong> propose des formations ou des conférences pour sensibiliser les acteurs de l'éducation digitale, de l'entreprise et de la société civile aux enjeux écologiques du monde digital.</p>

<p class="textDescription">Tout démarre en 2018 avec une envie de partager une passion du numérique avec les acteurs du développement durable et de l’ESS. OpenCyLife (l'association) est alors créée pour faire se rencontrer ces communautés <br> Il s’en suit rapidement des réflexions
    sur le manque d’information sur les impacts et les solutions existantes. <br> Il ne s'agit pas seulement d'aporter des solutions techniques au monde de l'écologie mais aussi de proposer des solutions sobres, voir low-tech lorsque c'est possible.
</p>
<p class="textDescription">
    Aujourd’hui, <strong> OpenCyLife Formation </strong> sort de l'association et peut intervenir auprès de tous les publics pour sensibiliser et/ou former.
</p>
<p class="textDescription">
    Il est en effet aussi urgent qu'essentiel de comprendre l'impact des technologies que l'on travaille dans le secteur ou que l'on soit utilisateur.</p>

<h1 style="margin-top: 60px;">Nos formations</h1>
<p class="textDescription">Nous proposons aujourd'hui deux types de formations ouvertes à tous les publics</p>

<div class="row flexAllCenter">

    <div class="card shadow" style="width: 15rem;">
        <div class="imagesInCard">
            <a routerLink="/formations"><img class="card-img" src="../../assets/awareness.svg"> </a>
        </div>
        <div>
            <h4 class="card-title">Sensibilisation</h4>
            <p class="card-p">Nous proposons des sensibilisations aux impacts du numérique</p><br>
        </div>
    </div>


    <div class="card shadow" style="width: 15rem;">
        <div class="imagesInCard">
            <a routerLink="/formations"> <img class="card-img" src="../../assets/teacher.svg"></a>
        </div>
        <div>
            <h4 class="card-title">Formation</h4>
            <p class="card-p">Nous proposons des formations ciblant des publics professionnels ou étudiants.</p><br>
        </div>
    </div>

    <div class="card shadow" style="width: 15rem;">
        <div class="imagesInCard">
            <a routerLink="/formations"> <img class="card-img" src="../../assets/mentorship.svg"></a>
        </div>
        <div>
            <h4 class="card-title">Mentorat</h4>
            <p class="card-p">Nous proposons suivis de différente durée pour les projets professionnels des écoles et des entreprises</p><br>
        </div>
    </div>
</div>