<h1 style="margin-top: 60px;">Le centre de formation</h1>
<p class="textDescription"><strong>OpenCyLife</strong> propose des formations ou des conférences pour sensibiliser les acteurs du numérique et de l’éducation aux enjeux écologiques du monde digital.</p>

<p class="textDescription">Tout démarre en 2018 avec une envie de partager une passion du numérique avec les acteurs du développement durable et de l’ESS. OpenCyLife (l'association) est alors créée pour faire se rencontrer ces communautés <br> Il s’en suit rapidement des réflexions
    sur le manque d’information sur les impacts et les solutions existantes. <br> Il ne s'agit pas seulement d'aporter des solutions techniques au monde de l'écologie mais aussi de proposer des solutions sobres, voir low-tech lorsque c'est possible.
</p>
<p class="textDescription">
    Aujourd’hui, <strong> OpenCyLife Formation </strong> sort de l'association et peut intervenir auprès de tous les publics pour sensibiliser et/ou former.
</p>
<p class="textDescription">
    Il est en effet aussi urgent qu'essentiel de comprendre l'impact des technologies que l'on travaille dans le secteur ou que l'on soit utilisateur.</p>


<h2>En école</h2>
<p class="textDescription">
    Les écoles du digital et d'ingénieurs sont évidements des acteurs très importants de la transition numérique. Mais il ne faut pas oublier que les écoles de commerce, du marketing sont aussi importants car ils porterons les usages du numérique de demain.
    <br> Nos conférences sont évidemment ouvertes à tous et s'adressent donc aussi aux collèges et lycées.
</p>
<h2>En entreprise</h2>
<p class="textDescription">
    Nous pouvons vous accompagner en entreprise, dans vos locaux s'il y a assez de coolaborateurs à former ou dans un espace loué par nos soins et adapté à la centre-formation. <br>Les formations commencent à partir de 4 personnes alors que les conférences
    sont ouvertes à un plus grand public (sur demande). mais beacoup d'attention et de bon sens.
</p>


<h2>Entre nous</h2>
<p class="textDescription">
    Nous essaierons d'organiser avec les collectivités et les associations des conférences sur les impacts du numérique qui s'adressent à tous. N'hésitez pas à nous consulter.
</p>